nav {
    background-color: #03213f; 

    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px;
}

nav a:hover {
    color: #03213f;
    background-color: #ccc;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #03213f;
}

::placeholder {
    color: rgb(182, 182, 182) !important;
}

.modal-header {
    color: #333;
    background-color: #ffc107;
}

.post-details {
    margin: 0px;
    padding-bottom: 3px;
}
å
.recent-post-details {
    font-size: 12px;
}

.list-bkgd-strip:nth-child(even) {
    background-color: rgb(247, 247, 247);
}

.small-child-span {
    font-size: 13px;
}

.large-child-span {
    font-size: 16px;
}

.posts-list label {
    color: #333;
}

footer {
    background-color: #212529;
    color: #fff;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 10px;
}


