{% extends 'base.html' %}

{% block content %}

<div class="container mb-5">
    <div class="row p-2 justify-content-center">
        <div class="col-lg-11">
            <h1 class="pt-4 pb-3 text-primary border-bottom">All Posts</h1>
            <ul class="list-group list-group-flush p-3">
            {% for post in posts %}
        
                <li class="list-group-item mt-2 pb-2">
                    <h5 class="pb-2"><a href="/posts/{{ post.id }}">{{ post.title }}</a></h5>
                    <div class="recent-post-details">Posted by: {{ post.user.full_name }}</a> Created on: {{ post.date }}</div>
                </li>
            {%  endfor %}
            </ul>
        </div><!--End of Column 1-->
    

    </div><!--End of Row-->

</div><!--End of Container-->



{% endblock %}