{% extends 'base.html' %}

{% block content %}

<div class="container mb-5">
    <div class="row pt-4 justify-content-center">
        <div class="col-lg-6">
            <div class="row border-bottom pb-3">
                <div class="col-lg-6">
                    <h1 class="text-primary">All Tags</h1>
                </div>
                <div class="col-lg-6 d-flex justify-content-lg-end">
                    <div class="pb-2"><a href="/tags/new" class="btn btn-primary me-2" style="width: 160px;">Create New
                            Tag</a></div>
                </div>
            </div>
            <ul class="list-group list-group-flush p-3">
                {% for tag in tags %}
                <li class="list-group-item pt-2 pb-1 list-bkgd-strip">
                    <h5 class=""><a href="/tags/{{ tag.id }}">{{ tag.name }}</a></h5>
                    <p>posts: {{ tag.post_count }}</p>
                </li>
                {%  endfor %}
            </ul>
        </div>
        <!--End of Column 1-->
    </div>
    <!--End of Row-->
</div>
<!--End of Container-->



{% endblock %}