{% extends 'base.html' %}

{% block content %}


<div class='container pt-5'>
  <div class="row p-2 justify-content-center">
    <div class="col-lg-6">
      <div class="row border-bottom pb-3">
        <div class="col-lg-6">
          <h1 class="text-primary">{{ tag.name }}</h1>
        </div>
        <div class="col-lg-6 d-flex justify-content-lg-end">
          <div><a href="/tags/{{ tag.id }}/edit" class="btn btn-primary me-2" style="width: 110px;">Edit Tag</a><button
              class="btn btn-danger" style="width: 120px;" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete
              Tag</button></div>
        </div>
      </div>
      <ul class="list-group list-group-flush p-3">
        <p>{{ tag.name }} tagged posts:</p>
        {% for post in tag.posts %}
        <li class="list-group-item"><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {%  endfor %}
        
      </ul>
    </div>
    <!--End of Column 1-->
  </div>
  <!--End of Row-->
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this tag?</p>
        <p class="text-danger">You can't undo this action.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="/tags/{{ tag.id }}/delete" type="button" class="btn btn-danger">Delete Tag</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}